<h1><%=@lawyer.email%></h1>
<%if lawyer_signed_in? %>
<h2>Pending confirmation requests</h2>
<%i=1%>	
<% while i<=Booking.count%>
<% if Booking.find(i).lawyerid==params[:id].to_i && Booking.find(i).request!=true%>
 <p><%= User.find(Booking.find(i).userid).email%></p>
<a href="/approve/<%=Booking.find(i).userid%>">Confirm Booking</a>
<%end%>
<%i+=1%>
<%end%>
<%end%>
<%if !lawyer_signed_in?%>
<h4>DESCRIPTION</h4>
<a href="/lawyers/book/<%=params[:id]%>">Book</a>
<%end%>